.collection{
    width: 100%;
    display: flex;
    justify-content: center;
}
.collection img{
    padding-top: 3.4em;
    padding-bottom: 3.4em;
    width: 763px;
}
@media screen and (max-width: 767px){
    .collection img{
        width: 500px;
    }
}

@media screen and (max-width: 507px){
    .collection img{
        width: 400px;
    }
}
@media screen and (max-width: 404px){
    .collection img{
        width: 340px;
    }
}