*{
    margin: 0;
    padding: 0;
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.logo_img{
  margin-left: 3.3em;
  margin-top: 0em;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.logo_img p{
  text-transform: uppercase;
}
.links ul{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 2.7em;
    margin-top: -1em;
}
.links ul li{
    margin-right: 3em;
}
.nan-links ul{
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 2.7em;
  margin-top: -1em;
}
.nan-links ul li{
  margin-right: 3em;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 8px 28px;
    font-size: 16px;
    border: none;
    letter-spacing: 1px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(197, 162, 233);
    min-width: 217px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(163, 120, 207);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .all_icon{
    cursor: pointer;
  }
  .menu_icon{
    position: absolute;
    right: 0;
    display: none;
    margin-top: 3px !important;
  }
  @media screen and (max-width: 1000px){
    .links ul{
      flex-direction: column;
      margin-top: 7em;
      transition: all 0.5s;
      background: rgb(197, 162, 233);
      width: 250px;
      align-items: center;
      height: 270px;
  }
  .links ul li{
    margin-top: 2.3em;
    margin-left: 2.8em;
  }
  .menu_icon{
    display: block;
    margin-right: 2em;
    margin-top: 10px;
  }
  .nan-links ul{
    transition: all 0.2s;
    width: 250px;
    height: 270px;
    opacity: 0.7;
    align-items: center;
    margin-top: -100%;
  }
  }

  @media screen and (max-width: 500px){
    .logo_img{
      margin-left: 1.3em;
    }
  }