@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.app{
  background: 
  url('./images/sitebackground.png') no-repeat center / cover;
  position: static;
  overflow: hidden;
}
